body{
    width: 95%;
    max-width: 800px;
    margin: auto;
    color:white;
    background-color:#9D0F0F;
    font-size: 20px;
    font-family: sans-serif;
}
main {
    background: #52ba6e;
    padding: 5px 40px;
    margin-top: 20px;
    border-radius: 10px;
  }

h1{
    text-align: center;
}
h2{
    font-size: 20px;
    text-align: center;
}
.foto{
    text-align: center;
    margin: 0;
}
.anc{
text-align: center;
}
